{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/form.css" />
{% endblock %}

{% block navbar-user %}class="active"{% endblock %}

{% block title %}登陆{% endblock %}

{% block content %}
    <div class="panel">
        <div calss="panel-body">
            <form class="form-signin" role="form" action="" method="post">
                <h2 class="center-heading"> 登陆</h2>
                <a class="register pull-right" href="{% url 'register' %}">未有账号？马上注册</a>
                <input type="text" class="form-control" name="username" placeholder="用户名" required autofocus />
                <input type="password" class="form-control last-of-class" name="password" placeholder="密码" required>
                <!--
                <label class="checkbox">
                    <input type="checkbox" value="remember-me" />记住登陆状态
                </label> 
                -->
                {% csrf_token %}
                {% if form.errors %}
                    <p class="err_radio">登录失败：用户名或密码错误。</p>
                {% endif %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">登陆</button>
                <input type="hidden" name="next" value="{% if next %}{{ next|escape }}{% else %}{% url 'accounts' %}{% endif %}" />
                <a href="{% url 'password_reset' %}">忘记密码？</a>
            </form>
        </div>
    </div>
{% endblock %}