{% extends "base.html" %}

{% block title %}重置密码{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/form.css" />
{% endblock %}


{% block content %}
    <div class="panel">
        <div class="panel-body">
            <form role="form" action="" method="post">
                <h2 class="center-heading">重置密码</h2>
                <p>忘记了密码？输入您注册时提供的邮箱，我们将通过邮箱给您发送重置密码的连接。</p>
                <input maxlength="255" class="form-control" name="email" type="email" placeholder="邮箱" required />
                <input class="btn btn-lg btn-primary form-control" type="submit" value="提交" />
                <a class="btn btn-lg btn-default form-control last-of-class" href="{% url 'login' %}">后退</a>
                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}