{% extends "base.html" %}

{% block title %}设置新密码{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/form.css" />
    <style type="text/css">
        .btn {
            margin-top: 8px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel">
            <form class="loose-list" role="form" action="" method="post">
                <h2 class="center-heading">设置新密码</h2>
                <p>请输入您的新密码。</p>
                
                <input class="form-control" name="new_password1" type="password" placeholder="新密码" required autofocus />
                <input class="last-of-class form-control" name="new_password2" type="password" placeholder="重复新密码" required />
                {% if form.new_password2.errors %}
                    <p class="err_radio">密码不匹配。</p>
                {% endif %}
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="提交" />
                {% csrf_token %}
            </form>
    </div>
{% endblock %}
