{% extends "base.html" %}

{% block title %}重置密码{% endblock %}

{% block navbar-user %}class="active"{% endblock %}

{% block css %}
    <style type="text/css">
        #tips {
            max-width: 32em;
            margin: 100px auto;
        }
        #tips p {
            text-indent: 2em;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="tips" class="panel">
        <div class="panel-body">
            <h2 class="center-heading">邮件发送成功</h2>
            <p>我们已经将重置密码的邮件发送到您的邮箱，请注意查收。</p>
        </div>
    </div>
{% endblock %}