{% extends "base.html" %}

{% block title %}修改密码成功{% endblock %}

{% block navbar-user %}class="active"{% endblock %}

{% block css %}
    <style type="text/css">
        #tips {
            width: 26em;
            margin: 100px auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div id="tips" class="panel">
        <div class="panel-body">
            <h2 class="center-heading">修改密码成功</h2>
            <p>下次登陆请使用新密码。</p>
            <a class="btn btn-lg btn-default btn-block" href="{% url 'profile' %}">返回用户中心</a>
        </div>
    </div>
{% endblock %}