{% extends "base.html" %}

{% block title %}注册{% endblock %}

{% block navbar-user %}class="active"{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/form.css" />
    <style type="text/css">
        .container{
            position: relative;
        }
        #agreement {
            margin-left: -15px;
            width: 100%;
            position: absolute;
            top:32%;
            display: none;
        }
        #agreement .panel {
            margin: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="panel">
        <div calss="panel-body">
            <form class="loose-list form-register" role="form" action="" method="post">
                <h2 class="center-heading">注册</h2>
                {{ form.username.errors }}
                <input maxlength="32" class="form-control" name="username" type="text" placeholder="用户名" required autofocus />
                {{ form.email.errors }}
                <input maxlength="255" class="form-control" name="email" type="email" placeholder="邮箱" required />
                <input name="password1" class="form-control" type="password" placeholder="密码" required />
                {{ form.password2.errors }}
                <input name="password2" class="form-control last-of-class" type="password" placeholder="确认密码" required />
                <label class="checkbox">
                    <input type="checkbox" value="agreement" required />
                    已阅读并同意<a onclick="showagree()" href="#">用户协议</a>
                </label>
                {% csrf_token %}
                <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
                <a href="{% url 'login' %}">已有账号直接登陆</a>
            </form>
        </div>
    </div>
    <div id="agreement">
        <div class="panel panel-info">
            <a class="pull-right" href="#" onclick="hideagree()">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <div class="panel-body">
                本系统为产品演示，不能保证维持运行。请勿将生产环境中的产品接入到本系统，否则本网将不为包括但不限于网站停止运营、系统存在安全问题等原因造成的损失承担任何责任。
            </div>
        </div>
    </div>
{% endblock %}

{%block js%}
    <script type="text/javascript">
        function showagree(){
            document.getElementById('agreement').style.display = 'block';
        }
        function hideagree(){
            document.getElementById('agreement').style.display = 'none';
        }
    </script>
{%endblock%}
