{% extends "base.html" %}
{% block title %}User Manager{% endblock %}

{% block navbar-about %}class="active"{% endblock %}



{% block content %}
    
    <div class="panel min-center">
        <div class="panel-body">
            <p>本软件为佛山科学技术学院毕业设计作品</p>
            <p>作者：谢应林</p>
            <p>邮箱：innlym(at)innlym.me</p>
            <p>指导老师：胡小生</p>
            <p>源码地址：<a href="https://github.com/innlym/loginhere">https://github.com/innlym/loginhere</p>
        </div>
    </div>
    
{% endblock %}
